/* responsive design for x small devices */
@media screen and (max-width:576px){
    .banner-content {
        flex-direction: column;
    }
    .banner-img img {
        margin: 0px;
    }
    .banner-title {
        font-size: 37px;
        width: 310px;
        margin: 150px 0px 19px 30px;
    }
    .banner-description {
        color: rgb(62, 62, 62);
        font-size: 14px;
        width: 300px;
        margin: 0px 0px 19px 30px;
    }
    .banner-btn {
        margin: 0px 0px 30px 30px;
    }
    .scrol {
        font-size: 13px;
        margin: 0px 0px 82px 30px;
    }
    .banner-img img {
        width: 350px;
        height: 396px;
        margin: 0px 0px 80px 0px;
    }
    .mission-containers {
        flex-direction: column;
    }
    .container-one {
        width: 320px;
        height: 356px;
    }
    .mission-titles {
        font-size: 30px;
    }
    .container-two {
        width: 320px;
        height: 356px;
    }
    .container-three {
        width: 320px;
        height: 386px;
    }
    .mission-description {
        font-size: 13px;
        width: 280px;
    }
    .mission-title {
        width: 100px;
    }
    .develop-content {
        flex-direction: column;
        gap: 20px;
    }
    .coding-img {
        width: 250px;
        height: 250px;
        left: 0px;
    }
    .shape-one {
        width: 159px;
        height: 159px;
        left: 15px;
        top: 2574px;
    }
    .develop-title {
        margin: 51px 0px 17px 0px;
        color: rgb(51, 51, 51);
        font-family: Poppins;
        font-size: 25px;
        font-weight: 700;
        width: 340px;
        text-align: center;

    }
    .develop-description {
        width: 300px;
        color: rgb(62, 62, 62);
        font-family: Poppins;
        font-size: 13px;
        text-align: justify;
        font-weight: 400;
        margin-left: 20px;
    }
    .develop-btn {
        margin: 0px 50px 40px 20px;
    }
    .mission-content {
        margin-bottom: 180px;
    }
    .community-content {
        flex-direction: column;
        gap: 20px;
    }
    .project-img {
        width: 250px;
        height: 250px;
        left: 0px;
    }
    .shape-two {
        width: 159px;
        height: 159px;
        right: 15px;
        top: 3614px;
    }
    .community-title {
        margin: 51px 0px 17px 0px;
        color: rgb(51, 51, 51);
        font-family: Poppins;
        font-size: 25px;
        font-weight: 700;
        width: 340px;
        text-align: center;

    }
    .community-description {
        width: 300px;
        color: rgb(62, 62, 62);
        font-family: Poppins;
        font-size: 13px;
        text-align: justify;
        font-weight: 400;
        margin-left: 20px;
    }
    .community-btn {
        margin: 0px 50px 40px 20px;
    }
}